.main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main span{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 5px;
}
.heading {
    border: 1px solid black;
    border-radius: 3px;
    background-color: aquamarine;
    padding: 0px;
    width: 200px; /* Set a width for the div */
    margin: 0 auto; /* Center it horizontally */
    text-align: center;
}
/* .heading{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: aquamarine;
    width: 50%;
} */
#grey{
    background-color: grey;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
