.main{
    width: 100%;
    display: flex;
    align-items: center;
}
.main span{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 5px;
}
.heading{
    display: flexbox;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: aquamarine;
    width: 50%;
}
#grey{
    background-color: grey;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
